<div class="row-fluid header_bar navbar navbar-fixed-top main-theme">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="logo">
        {{#link-to "app.index" tagName="span"}}
          <a {{bindAttr href="view.href"}}>
            <span class="main_logo_text">Code
              <span>
                Recipes
              </span>
            </span>
            <p>Empower your learning Share your Knowledge</p>
          </a>
        {{/link-to}}
      </div>

      <div class="nav-collapse pull-right">
        <ul class="nav nav-pills">
          {{#link-to "app.index" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Home</a>
          {{/link-to}}

          {{#link-to "app.about" tagName="li"}}
            <a {{bindAttr href="view.href"}}>About</a>
          {{/link-to}}
          
          {{#link-to "recipes" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Recipes</a>
          {{/link-to}}

          {{#if controllers.appLogin.token}}
            <li> <a {{action logout target='controllers.appLogin' href=true}}>Logout</a> </li>
          {{else}}
            {{#link-to "app.login" tagName="li"}}
              <a {{bindAttr href="view.href"}}>Login</a>
            {{/link-to}}
          {{/if}}
        </ul>
      </div>
      
    </div>
  </div>
</div>