<div class="row-fluid header_bar navbar navbar-fixed-top main-theme">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="logo">
        {{#linkTo "app.index" tagName="span"}}
          <a {{bindAttr href="view.href"}}>
            <span class="main_logo_text">Code
              <span>
                Recipes
              </span>
            </span>
            <p>Empower your learning Share your Knowledge</p>
          </a>
        {{/linkTo}}
      </div>

      <div class="nav-collapse pull-right">
        <ul class="nav nav-pills">
          {{#linkTo "app.index" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Home</a>
          {{/linkTo}}
          {{#linkTo "recipes" tagName="li"}}
            <a {{bindAttr href="view.href"}}>Recipes</a>
          {{/linkTo}}

          {{#if controllers.appLogin.token}}
            {{#linkTo "app.login" tagName="li"}}
              <a {{bindAttr href="view.href"}}>Account</a>
            {{/linkTo}}
          {{else}}
            {{#linkTo "app.login" tagName="li"}}
              <a {{bindAttr href="view.href"}}>Login</a>
            {{/linkTo}}
          {{/if}}
          
          {{#linkTo "app.about" tagName="li"}}
            <a {{bindAttr href="view.href"}}>About</a>
          {{/linkTo}}
        </ul>
      </div>
      
    </div>
  </div>
</div>